@font-face {
    font-family: "Noto Sans CJK JP";
    src: url("assets/noto-sans-cjk/NotoSansCJKjp-VF.woff2");
}

:root {
    --b3-font-family: "Noto Sans CJK JP", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
}
